
<ul id="flats">
  <% @flats.each do |flat| %>
    <li>
      <div class="card-product">
        <img src="<%= flat.photo %>" />
        <div class="card-product-infos">
          <%= link_to flat.name, flat_path(flat.id) %>
          <br>
          <%= flat.address %>
          <br>
          <%= flat.description %>
          <br>
          <%= flat.price_per_night %> €/night
          <br>
          <%= flat.number_of_guests %> guests
          <hr>
        </div>
      </div>
    </li>
  <% end %>
</ul>
